<div class="container">
  <h2 class="text-center">Cambiar Contraseña</h2>

  <form [formGroup]="form" (ngSubmit)="cambiarContrasena()">
    <div class="mb-3">
      <label for="correo" class="form-label">Correo electrónico:</label>
      <input id="correo" type="email" class="form-control" formControlName="correo" />
      @if (form.get('correo')?.invalid && form.get('correo')?.touched) {
        <div class="invalid-feedback">
          Correo inválido.
        </div>
      }
    </div>

    <div class="mb-3">
      <label for="nuevaContrasena" class="form-label">Nueva contraseña:</label>
      <input id="nuevaContrasena" type="password" class="form-control" formControlName="nuevaContrasena" />
      @if (form.get('nuevaContrasena')?.invalid && form.get('nuevaContrasena')?.touched) {
        <div class="invalid-feedback">
          La contraseña es obligatoria.
        </div>
      }
    </div>

    <button type="submit" class="btn btn-primary">Cambiar contraseña</button>
  </form>

  @if (mensaje) {
    <div class="alert alert-success">{{ mensaje }}</div>
  }

  @if (error) {
    <div class="alert alert-danger">{{ error }}</div>
  }
</div>

