<div class="container card">
  <div class="card-body">
    <h5 class="card-title text-center">Añadir Tipo de Propiedad</h5>

    <form (ngSubmit)="onSubmit($event)">
      <div class="mb-3">
        <label for="nombre" class="form-label">Nombre</label>
        <input
          type="text"
          id="nombre"
          class="form-control"
          name="nombre"
          [(ngModel)]="tipo.nombre"
          required
        />
        <!-- Mensajes separados -->
        @if (nombreVacio) {
          <div class="invalid-feedback d-block">
            El nombre es obligatorio.
          </div>
        }
        @if (nombreDuplicado) {
          <div class="invalid-feedback d-block">
            Este nombre ya existe.
          </div>
        }
      </div>

      <button type="submit" class="btn btn-primary">Guardar</button>
    </form>

    @if (mostrarBanner) {
      <div class="alert alert-success text-center mt-3">
        Tipo de propiedad añadido correctamente.
      </div>
    }
  </div>
</div>
