/* ============================= */
/*           NAVBAR             */
/* ============================= */

.fixed-nav {
  background-color: #f5f5dc;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 48px;
  z-index: 1000;
  transition: top 0.3s ease;

  /* Bordes redondeados y sombra */
  border-radius: 0 0 10px 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.fixed-nav.hide-nav {
  top: -60px;
}

/* Espacio en el layout para evitar que lo tape el navbar */
.main-content {
  padding-top: 64px;
}

/* Estilos normales */
.nav-link {
  color: #6B4423;
  font-weight: bold;
  font-size: 0.9rem;
  padding-top: 0.3rem;
  padding-bottom: 0.3rem;
}

.nav-item {
  margin-left: 1rem !important;
  margin-right: 1rem !important;
}

.dropdown:hover .dropdown-menu {
  display: block;
  margin-top: 0;
}

.dropdown-menu {
  background-color: #fffaf0;
  border-radius: 6px;
  border: 1px solid #e0d9c6;
  padding: 0.5rem 0;
}

.dropdown-item {
  font-size: 0.85rem;
  padding: 0.4rem 1rem;
}

.dropdown-item:hover {
  background-color: #f0e6d2;
  color: #6B4423;
}
